.banner{
display: inline-block;
position: relative;
width: 100%;
justify-content: center;
}

.banner img{
    width: 100%;
}
#texto {
    position: absolute;
    font-size: 50px;
    right: 180px;
    top: 500px;
    
  }

#texto button{
    width: 200px;
    font-size: 28px;
    
    background-color: #FFE927;
    text-decoration: none;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
  border: 1px solid #000;
}

#texto button:hover {
    background-color: gray;
    color: #ffffff;
}